.block-xl.content-lg-fill.content-sm-ver
  .row.content-lg-fill
    .col-lg-6.col-sm-12.content-lg-ver
      h1.text-lg-right.text-sm-center.fade-in.tight!= title

    .col-lg-6.col-sm-12.content-lg-ver
      for bar in ratio.bars
        .block-md
          .ratio-title.block-ver-sm.text-lg= bar.title
          .ratio 
            .ratio-bar-container.block-dk
              .ratio-bar
            .ratio-value 
              .text-lg.text-right.ratio-value-amount &hellip;

.slide-footer.slide-up
  .slide-footer-prompt!= prompt
  .slide-footer-touched
    .btn.btn-muted.btn-done OK, I'm done
